@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

*,
*::before,
a::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.all-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  gap: 2rem;
  min-height: 100vh;
}

.some-selector {
  margin: 0 2px;
}

.another-selector {
  padding: 10px;
}