.All-B {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.Book-C {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

.Single-B {
  background: #81c8dd4f;
  display: flex;
  gap: 2rem;
  border: 2px solid #6d263161;
  padding: 2rem 8rem;
  border-radius: 20px 20px;
}

.RemoveBook,
.Add-Book {
  padding: 0.4rem 1.6rem;
  color: #fff;
  background-color: #cf6464a3;
  border: none;
  border-radius: 20px 20px;
}

.Book-F {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
}

form input {
  padding: 0.5rem 0.6rem;
  border: 2px solid #20ea9c;
}

.AddBook {
  background-color: aqua;
  color: black;
}

h3 {
  color: rebeccapurple;
}