.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  align-items: center;
}

 .category-li {
  color: #e8e8e8;
}

.navbar ul {
  font-family: Montserrat, sans-serif;
  display: flex;
  list-style-type: none;
  text-align: center;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  font-size: 22px;
  font-weight: 600;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #121212;
}

.book-store {
    font-size: 1.875rem;
    color: #0290ff;
    font-family: Montserrat, sans-serif;
    margin-right: 2.375rem;
    cursor: pointer;
}

.profile-container {
  border: 1px solid #e8e8e8;
  padding: 0.875rem;
  border-radius: 100%;
  cursor: pointer;
  margin-left: auto;
  height: 50px;
}